<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <#include "../nav/nav.ftlh">

    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Список клиентов</h1>

        <a href="/ui/customers/new">
            <button type="button" class="btn btn-success">Добавить нового клиента</button>
        </a>

        <table class="table">
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Компания</th>
                <th>Действия</th>
            </tr>
            </thead>

            <tbody>
                <#if customers ? has_content>
                    <#list customers as customer>
                        <tr>
                            <td>
                                <a href="/ui/customers/${customer.id}">
                                    ${customer.fullname}
                                </a>
                            </td>
                            <td>${customer.company}</td>
                            <td>
                                <form method="GET" action="/ui/customers/${customer.id}">
                                    <button type="submit" class="btn btn-primary" action="/ui/customers/${customer.id}">Редактировать клиента</button>
                                </form>
                                <form method="POST" action="/ui/customers/delete/${customer.id}">
                                    <button type="submit" class="btn-danger" action="/customers">Удалить клиента из базы</button>
                                </form>
                            </td>
                        </tr>
                    </#list>
                <#else>
                    <div>
                        <h3 class="mb-3">Клиентов нет. Вперёд продавать!</h3>
                    </div>
                </#if>
            </tbody>
        </table>
    </div>
</body>
</html>